<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/cards.css">

    <style>

    </style>
</head>

<bodys>
    <header>
        <%- include('../partials/header', {user, admin}); %>
    </header>

    <main>
        <div class="container">
            <h5>&nbsp;</h5>
            <h5 class="text-center">КАТАЛОГ</h5>
            <h6 class="text-center">
                <% if(publisher) { %>
                    <%= publisher %>
                <% } else { %>
                    Все
                <% } %>     
            </h6>

            <h6>&nbsp;</h6>

            <nav>
                <div class="nav-wrapper blue-grey lighten-5">
                    <form action="/catalog" method="get">
                        <div class="input-field">
                            <input type="submit" hidden />
                            <input hidden name="publisher" value=<%= publisher %> >
                            <input name="searchQuery" id="search" type="search" <% if(prevSearchQuery) { %> value=<%= prevSearchQuery %> <% } %> >
                            <label class="label-icon" htmlFor="search"><i class="material-icons black-text">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <div >
            <div >
                <%- include('../partials/filter'); %>
            </div>

            <h6>&nbsp;</h6>

            <div class="row">
                <% comics.forEach(function(comic){ %>
                    <%- include('../partials/comicsCard', {comic: comic}); %>
                <% }); %>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script name="Разворачивающийся список">
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });   
    </script>

    <script src="/js/frontLike.js"></script>
</body>

</html>