<th>
    <!-- <p>Наименования товаров</p> -->
    <a href=<%= `/product?productId=${product.productId._id}&publisher=${product.productId.publisher}` %>>
        <p class="table-title">
            <%= product.productId.title %>
        </p>
    </a>
</th>
<th>
    <!-- <p>Изображения</p> -->
    <img src=<%=product.productId.pictures[0] %> class="table-img" alt=<%= product.productId.title %> />
</th>
<th>
    <!-- <p>Цена за единицу</p> -->
    <span class="table-price">
        <%= product.productId.price %>
    </span>
    <span>руб.</span>
</th>
<th>
    <!-- <p>Количество</p> -->
    <span class="table-text">
        <%= product.count %>
    </span>
</th>
<th>
    <!-- <p>Общая сумма</p> -->
    <span>
        <%= product.productId.price*product.count%>
    </span>
</th>