<div class="col s12 m4 l3">
    <div class="card large">
        <div class="card-image">
            <!-- "http://pm1.narvii.com/7830/ff21aeb5f66cb9db13c77a648ab503b63c13df30r1-659-1000v2_uhq.jpg" -->
            <img class="image lighten-1 grey" src=<%= comic.pictures[0] %>
             alt=<%= comic.title %> />
        </div>
        <div class="card-content">
            <h6 class=""><%= comic.title %></h6>
            <p><%= comic.price %> руб.</p>
        </div>
        <div class="card-action blue-text">
            <div class="cartBottom black-text">
                <% if(comic.items.length > 0) {%>
                <a href="javascript:{}" class="cartClickables"><i class="material-icons cart-icon">add_shopping_cart</i></a>
                <% } else { %>
                <a href=<%= `/product?productId=${comic._id}&publisher=${comic.publisher}` %>  class=""><i style="color: gray;" class="material-icons cart-icon">add_shopping_cart</i></a>
                <% } %> 
                <form hidden action="/basket/addBasket" method="post">
                    <input hidden  type="text" name="id_product" value=<%= comic._id %> />
                </form>

                <a href="javascript:{}" class="favourite">
                    <i class="material-icons fav-icon">
                        <% if(!comic.isLiked){ %> <%= 'favorite_border' %>
                        <%} else{ %> <%= 'favorite' %><% } %> 
                         
                    </i></a>

                <form hidden action="/favourite/createDeleteFavourite" method="post">
                    <input hidden  type="text" name="productId" value=<%= comic._id %> />
                </form>
            </div>
            <p></p>
            <% let href = '/product?productId=' + comic._id + '&publisher=' + comic.publisher %>
            <a href=<%= href %>>Подробнее...</a>
        </div>
    </div>
</div>